<div class="app-layout">

  <app-sidebar

    [collapsed]="sidebarCollapsed"

    [notas]="notas"

    [notaSeleccionada]="notaSeleccionada"

    (seleccionar)="seleccionarNota($event)"

    (nueva)="crearNota()"

    (eliminar)="eliminarNota($event)"

  ></app-sidebar>

  <div class="main-content">

    <app-toolbar

        [titulo]="
        notaSeleccionada?.titulo || ''
      "

      (tituloChange)="
        actualizarTitulo($event)
      "

      (guardar)="guardarNota()"

      (eliminar)="eliminarNotaActual()"

      (toggleSidebarEvent)="
        toggleSidebar()
      "
      
    ></app-toolbar>

    <app-notes-page

      [notaSeleccionada]="notaSeleccionada"

    ></app-notes-page>

  </div>

</div>