<div
  class="sidebar"
  [class.collapsed]="collapsed"
>

  <div class="sidebar-header">

    <h2>Notes</h2>

    <button
      class="new-note-btn"
      (click)="crearNota()"
    >
      + Nueva Nota
    </button>

  </div>

  <div class="sidebar-search">

    <input
    type="text"
    placeholder="Buscar notas..."
    [(ngModel)]="searchTerm"
    (input)="filtrarNotas()"
    
    />

  </div>

  <div class="sidebar-section">

    <span>
      TODAS LAS NOTAS {{ notasFiltradas.length }}
    </span>

  </div>

  <div class="notes-container">

    <div

      class="note-item"

      *ngFor="
        let nota of notasFiltradas
      "

      (click)="seleccionarNota(nota)"

      [class.active]="
        notaSeleccionada?.id === nota.id
      "
    >

     <div class="note-header">

  <h4>{{ nota.titulo }}</h4>

      <button

          class="delete-btn"

          (click)="
            eliminarNota($event, nota)
          "
        >

          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
          >

            <path d="M3 6h18"/>

            <path d="M8 6V4h8v2"/>

            <path d="M19 6l-1 14H6L5 6"/>

          </svg>

      </button>

    </div>

      <p>
        {{ limpiarHtml(nota.contenido) }}
      </p>

    </div>

  </div>

  <span>
    Elvia Guit & Neftali Alegría
  </span>

</div>